{% extends 'navbar.html' %}
{% load static %}
{% block content %}

<div>
    <h3 class="heading">Digital Cockpit {{ kpi }}</h3>
    <br>
    <form method="POST" action="">
        {% csrf_token %}
     <label for="time">Time: <select name="time" id="time">
              <option value="">Select</option>
              <option value="day">day</option>
              <option value="week">week</option>
              <option value="month">month</option>
              <option value="year">year</option>
            </select>
     </label>
     <input type="submit" value="Submit"/>
    </form>
    <br>
</div>
{% if display == True %}
<div class="cockpit">
    <div class='instruments'>
        <br>
        <h5> Standard Instruments</h5>
        {% if standard %}
            {% for i,j in standard %}
                <div class="instrument">
                {% with instrument=j %}
                    <a href="{% url 'widget' instrument=j %}">
                        <img src="{% static 'output/' %}{{ i }}.png"  alt="">
                        <h6  >{{ j }}</h6>
                    </a>
                {% endwith %}
                </div>
            {% endfor %}
        {% else %}
            <h5 style="text-align: center">No data</h5>
       {% endif %}
    </div>
    <br>
    <div class='instruments'>
        <br>
        <h5> Attention Instruments</h5>
       {% if attention %}
            {% for i,j in attention %}
                <div class="instrument">
                {% with instrument=j %}
                    <a href="{% url 'widget' instrument=j %}">
                        <img src="{% static 'output/' %}{{ i }}.png"  alt="">
                        <h6 >{{ j }}</h6>
                    </a>
                {% endwith %}
                </div>
            {% endfor %}
       {% else %}
            <h5 style="text-align: center">No data</h5>
       {% endif %}
</div>
    <br>
    <div class="focusbuttons">
        <div class="focusbutton">
            <h3 style="text-align: center"> Focus buttons</h3>
            {% if focus_text %}
                {% for i,j in focus_text %}
                    <button title="{{ j }}">{{ i }}</button>
                {% endfor %}
            {% else %}
                <h5 style="text-align: center">No data</h5>
            {% endif %}
        </div>

    </div>
<br>
</div>
{% endif %}
<style>
        .heading{
            text-align: center;
        }
        .focusbuttons{
             background-color: #ffffff;
             box-shadow: 0 0 9px 0 rgba(0, 0, 0, 0.3);

        }
        .focusbutton{
              width: auto;
              height: auto;
              margin: 0 auto;
              padding: 10px;
              position: relative;
        }
        .instrument{
             background-color: #ffffff;
  	        box-shadow: 0 0 9px 0 rgba(0, 0, 0, 0.3);
            display: inline-block;
            width: 30%;
            margin: 15px;
            text-align: center
        }
        .instruments{
             background-color: #ffffff;
  	        box-shadow: 0 0 9px 0 rgba(0, 0, 0, 0.3);
            margin: 5px;

        }
        img{
            width: 350px;
            height:250px;
            margin-top: 15px;
        }
        h5{

            text-align: center;
            font-weight: bold;
        }

     </style>


{% endblock %}