{% load static %}

<!DOCTYPE html>
<html>

<body>
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<!--
<script type="text/javascript">
    google.charts.load("current", {packages:['corechart']});
    google.charts.setOnLoadCallback(drawChart);
    function drawChart() {
      var data = google.visualization.arrayToDataTable({{ bar1_m1|safe }});

      var view = new google.visualization.DataView(data);


      var options = {
        title: "Testing",
        hAxis: {title: "Date" , direction:-1, slantedText:true, slantedTextAngle:60 }  ,
        vAxis: {title: "data"}   ,
        width: 500,
        height: 500,
        bar: {groupWidth: "95%"},
        legend: { position: "none" },
      };
      var chart = new google.visualization.ColumnChart(document.getElementById("columnchart_values"));
      chart.draw(view, options);
  }
  </script>
<div id="columnchart_values" style="width: 900px; height: 300px;"></div>
-->
<div id="Distance_w" style="width: 900px; height: 300px;"></div>
<script type="text/javascript">
  google.charts.load('current', {'packages':['corechart']});
      google.charts.setOnLoadCallback(drawChart);

      function drawChart() {

        var data = google.visualization.arrayToDataTable({{ bar1_m1|safe }});

        var options = {
          title: 'My Daily Activities'
        };

        var chart = new google.visualization.PieChart(document.getElementById('Distance_w'));

        chart.draw(data, options);
      }
  </script>



</body>
</html>
