{% load static %}
<html>
<head>
	<title>Rami</title>
</head>
<body>

<form name="form1" id="form1" enctype="multipart/form-data" method="post" action="{% url 'ramiParser' %}">
    {% csrf_token %}
     <input type="file"
            name="rami"
            title="Upload excel file"
            style="border: 1px solid black; padding: 5px;"
            required="required"
            accept="text/xml" >
    <input  type="submit" value="Select" style="margin-left: 140px">
</form>


</body>
</html>
