{% extends 'navbar.html' %}
{% load static %}
{% block content %}

<h1 style="color: #0c0c0c;font-weight: bold;text-align: center">{{ vertical }}</h1>
{% if summary %}
    <h3>Processed List Of Assets</h3>
{% for i in summary %}
    <h3 >{{ i }}</h3>
{% endfor %}
{% endif %}
<div style="padding-top: 20px;padding-left:10px;padding-right: 10px ">
{% if devices %}
    {% for i,j in devices %}
<div style="display: inline-block">
        <a href="{{ j }}">
            <img src=" {% static 'images/' %}{{ i }}.png " style=";" alt= "{{ i }}" title="{{ j }}">
            <h6 style="text-align: center">{{ j }}</h6>
        </a>
</div>
    {% endfor %}
{% endif %}
{% if new_device %}
    <h3 >Device {{ new_device }} not found</h3>
{% endif %}
</div>
     <style>
        img{
            width: 149px;
            height: 149px;
        }
    </style>
{% endblock %}