{% extends 'navbar.html' %}
{% load static %}
{% block content %}
<div>
    <h4 style="text-align: center">Widget</h4>
</div>
<div style="height: 125px; width: 100%">
    <div style="display: inline-block;">
        <form method="POST">
        {% csrf_token %}
            <label>OKR:
            <select name="OKR" id="OKR">

                <option value="{{ okr }}">{{ okr }}</option>

            </select></label>
            <label>KPI:
            <select name="KPIs" id="KPIs">
                {% for i in kpi %}
                <option value="{{ i }}">{{ i }}</option>
                {% endfor %}

            </select></label>
            <br><br>
        <input type="submit">
        </form>
    </div>
</div>
{% if skpi %}
<div style="height: 650px;  background-color: #ffffff;
  	        box-shadow: 0 0 9px 0 rgba(0, 0, 0, 0.3)">
     <div class="kpidiv">
         <br><br><br><br><br><br><br><br><br>
                <a href="{{ skpi }}" style="color: {{ color }}; text-align: center">{{ skpi }}</a>
        </div>
     <div class="instrument">
    {% if time == 'day' %}
         <a href="#" style="text-align: center;align-items: center">
                    <div id="graph"></div>
         </a>
        {% if graph %}
            <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
            <script type="text/javascript">
    google.charts.load("current", {packages:['corechart']});
    google.charts.setOnLoadCallback(drawChart);
    function drawChart() {
      var data = google.visualization.arrayToDataTable({{ graph|safe }});
      var view = new google.visualization.DataView(data);
      var options = {
        title: "{{ skpi }}",
        hAxis: {title: "Date" , direction:-1, slantedText:true, slantedTextAngle:60 },
        vAxis: {title: "Weights"},
        height: 500,
        bar: {groupWidth: "95%"},
        legend: { position: "none" },
      };
      var chart = new google.visualization.ColumnChart(document.getElementById("graph"));
      chart.draw(view, options);
  }
  </script>
        {% endif %}
    {% else %}
        {% if graph %}
                     <a href="#" style="text-align: center;align-items: center">
                    <div id="graph"></div>
         </a>
            <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
            <script type="text/javascript">
  google.charts.load('current', {'packages':['corechart']});
      google.charts.setOnLoadCallback(drawChart);

      function drawChart() {

        var data = google.visualization.arrayToDataTable({{ graph|safe }});

        var options = {
          title: 'FuelMeter',
            width:300,
        };

        var chart = new google.visualization.PieChart(document.getElementById('graph'));

        chart.draw(data, options);
      }
  </script>
       {% endif %}
    {% endif %}

          {% if data %}
        <h6 style="font-weight: bold; font-size: larger ">{{ data }}</h6>
        {% endif %}
    </div>

</div>
{% endif %}
<style>
    .kpidiv{
            display: inline-block;
            width: 28%;
            float:left;
        text-align:center ;

        }
    .instrument{
            display: inline-block;
            margin: 15px;
            width: 65%;
            align-items: center;
            text-align: center;
            height: 650px;
        }
</style>

{% endblock %}
